*{
    padding: 0%;
    margin: 0%;
    font-family:"Poppins", sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)),
    url(banner.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    padding: 2% 6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    position: relative;
    padding: 8px 12px;
    display: inline-block;
    list-style: none;
}
.nav-links ul li a{
    font-size: 13px;
    color: #fff;
    text-decoration: none;
}
.nav-links ul li::after{
    content: '';
    height: 2px;
    width:0%;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%,-50%);
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    font-size: 14px;
    margin: 10px 0 40px;
    color: #fff;
}
